/* remove basic styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1e27;
  color: white;
  font-family: "Gochi Hand", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 2rem;
}

h1 {
  color: #6be585;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background: white;
  outline: none;
}

form button {
  color: #dd3e54;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

form button:hover {
  background: #dd3e54;
  color: white;
  transition: all 0.3s ease;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: #1b1e27;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;
  width: 70vh;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #dd3e54;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  outline: none;
}

.complete-btn {
  background: #6be585;
}

.trash-btn:hover {
  background: #a72d3e;
}

.complete-btn:hover {
  background: #4ca55f;
}


.todo-input {
  width: 40vh;
  font-family: "Gochi Hand", sans-serif;
  padding-bottom: 7px;
  padding-top: 8px;
}

button.todo-button {
  margin-right: 4px;
}

.todo-item {
  padding: 0 1rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #dd3e54;
  width: 10rem;
  cursor: pointer;
  padding: 0.9rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #dd3e54;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: #6be585;
}
